@import '../../mixin';
$media-direction: min;

.App-about {
  position: relative;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #FFF;

  display: grid;
  grid-template-columns: 1fr 5fr 2fr 5fr;
  grid-template-rows: repeat(6, 1fr);

  .logoBlock {
    align-self: flex-start;
    margin-top: 15px;

    width: 100%;

    grid-column: 4;
    grid-row: 3;

    line-height: 46px;
    font-weight: 600;
    color: #194FD4;

    @include media((
            display:(xs:none,sm:block)
    ));

    &:before {
      content:'';
      display: block;
      float:left;
      margin-right: 20px;
      width:45px;
      height:45px;
      background: #194FD4;
      mask: url(../../static/resources/logo2.svg) center / contain no-repeat;
    }
  }

  .titleService {
    @include media((
            grid-column:(xs:2 / span 3,sm:2),
            grid-row:(xs:2,sm:3)
    ));
  }
}

.App-about {
  .about-info {
    margin:0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    @include media((
            grid-column:(xs:2 / span 3,sm:2),
            grid-row:(xs:4,sm:5),
            grid-gap:(xs:20px,sm:100px),
            margin-bottom:(xs:50px,sm:0px),
    ));

    .about-info-title {
      margin-bottom: 20px;

      @include media((
              font-size:(xs:16px,sm:18px)
      ));
    }

    .about-info-desc {
      @include media((
              font-size:(xs:12px,sm:15px)
      ));
    }
  }

  .imgBackBlock {
    justify-self: flex-end;
    align-self: flex-start;

    width:800px;
    height: 234px;
    margin-right: -38vw;

    background: #194FD4;
    mask: url("../../static/resources/pic2.svg") center / contain no-repeat;

    grid-column: 4;
    grid-row: 5;

    @include media((
            display:(xs:none,sm:block)
    ));
  }

  .about-license {
    margin:0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;

    @include media((
            grid-column:(xs:2,sm:4),
            grid-row:(xs:5,sm:5),
            grid-gap:(xs:20px,sm:100px)
    ));

    .about-license-title {
      font-weight: 600;

      @include media((
              font-size:(xs:12px,sm:15px),
              margin-bottom:(xs:25px,sm:20px)
      ));

      &:before {
        content:'';
        display: block;
        margin-bottom: 20px;
        width:45px;
        height:45px;
        background: #194FD4;
        mask: url('../../static/resources/icon 3.svg') center / contain no-repeat;
      }
    }
  }
}